<!DOCTYPE html>
<html>
<head>
  <title>Edit Event</title>
  <style>
    body {
      text-align: center;
    }
  </style>
</head>
<body>
  <h1>Edit Event</h1>

  <form action="/admin/edit/<%= event.id %>" method="POST">
    <label>Nama Event</label><br>
    <input name="name" value="<%= event.name %>" required><br><br>

    <label>Deskripsi</label><br>
    <textarea name="description" required><%= event.description %></textarea><br><br>

    <label>Tanggal</label><br>
    <input name="date" value="<%= event.date %>" required><br><br>

    <label>Lokasi</label><br>
    <input name="location" value="<%= event.location %>" required><br><br>

    <label>Kuota</label><br>
    <input type="number" name="quota" value="<%= event.quota %>" required><br><br>

    <button type="submit">Update</button>
  </form>

  <br>
  <a href="/admin">Kembali</a>
</body>
</html>
